@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
